.event-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    .clearfix();
}

.event-list-item {
    cursor: pointer;
    display: block;
    height: 100vh;
    margin-bottom: 1px;
    position: relative;
    overflow: hidden;

    @media @laptop {
        float: left;
        line-height: 0;
        width: 33.2%;
        height: 250px;
        margin-right: 1px;
    }

    &:hover,
    &:focus {
        .event-list-item-image {
            filter: blur(2px);
            transform: scale(1.05);
            transform-origin: center;
        }
    }
}

.event-list-item-image {
    background: @color-gray-lighter center center no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-out;
    width: 100%;
    z-index: 1;

    &:after {
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0.2) 60%,
            rgba(0, 0, 0, 0.3) 70%,
            rgba(0, 0, 0, 0.9) 100%
        );
        content: '';
        height: 100%;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }
}

.event-tag {
    bottom: 1.5rem;
    color: @color-white;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    position: absolute;
    right: .5rem;
    z-index: 3;

    @media @tablet {
        font-size: 4rem;
    }

    @media @laptop {
        font-size: 1.5rem;
    }
}
