html, body {
    width: 100%;
    height: 100%;
}

.site-wrapper {
    width: 100%;
    height: 100%;
}

// Header
.site-header {
    background-color: @color-primary;
    color: @color-white;
    padding: .5rem 0;
}

.site-logo {
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: lowercase;
}

// Footer
.site-footer {
    text-align: center;
}
