<div class="static-content">
    <h2>We care about privacy</h2>
    <p class="preface">
        That's why we want you to know what we do with your information. We've
        tried to give you a very simple overview over how we provide you with
        this awesome service. Below you'll find information about our use of
        cookies and location data.
    </p>
    <h2>Cookies</h2>
    <p>
        We haven't figured out what cookies we're going to use yet, but we're
        pretty sure we'll be using cookies to keeping you logged in and tracking
        how you're using our site.
    </p>
    <h2>Location</h2>
    <p>
        Asking for your location is iffy. We know it. That's why we want to
        explain you what we use it for. You can - of course - deny us access to
        that kind of data - and we'll simply do the best we can with the data
        we got.
    </p>
    <p>
        We use your location to find events in your proximity, so that it's
        easier for you to find the events you want to post photos to. And that's
        it!
    </p>
    <h2>Privacy</h2>
    <p>We don't sell or share your data with anyone. Period.</p>
</div>
