<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{> title}}
    <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>
    <div class="site-wrapper">
        <header class="site-header">
            <h1 class="site-logo">Event Photos</h1>
        </header>
        <div class="site-content">
            {{{ body }}}
        </div>
        <footer class="site-footer">
            <p>All rights reserved. &copy; <a href="/cookies">We use cookies</a>.</p>
        </footer>
    </div>
</body>
</html>
